* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: "Inter", sans-serif ;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #0e1129;
  padding: 2rem;
}

a {
  text-decoration: none;
}

p {
  text-align: center;
}

